#Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.env
.flaskenv

#Database
*.sqlite3
*.db
*.sqlite

#Flask-specific
instance/

#Editor/IDE files
.vscode/

#Logs
*.log
celerybeat.pid

#Testing
.coverage
.pytest_cache/
htmlcov/

#Distribution/Packaging
dist/
build/
*.egg-info/
.eggs/

#Heroku specific
.heroku
